@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Merriweather:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  ::first-letter {
    text-transform: uppercase;
  }
}
body {
  background: url(../assets/images/bg.jpg) center/cover fixed;
}
h1 {
  font-family: "Inter", sans-serif;
}
p {
  font-family: "Merriweather", serif;
  line-height: 2rem;
}
button {
  margin: 30px;
  padding: 10px 30px;
  background: none;
  border: 2px solid black;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    background: black;
    color: white;
  }
}
header {
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  h1 {
    font-size: 5rem;
    width: 60%;
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
    padding: 10px;
  }

  p {
    font-size: 1.5rem;
    font-style: italic;
    margin: 10px;
    padding: 10px;
  }
  i {
    font-size: 1.5rem;
    margin: 30px;
    padding: 20px;
    border: 2px solid white;
    border-radius: 100%;
    min-width: 70px;
    text-align: center;
    transition: 0.2s;
    &:hover {
      transform: scale(1.1);
    }
  }
}

nav {
  width: 1300px;
  display: flex;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  margin: 0 auto;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  align-items: center;
  height: 70px;
  background: rgba(116, 115, 115, 0.473);

  ul {
    display: flex;
    height: 70px;
    align-items: center;
  }
  .left-part {
    li {
      padding: 28px 20px;
      transition: 0.5s;
    }
  }
  .right-part {
    li {
      padding: 23px 20px;
      transition: 0.5s;

      i {
        font-size: 1.5rem;
      }
    }
  }
  li:hover {
    background: white;
    color: rgb(31, 30, 30);
    cursor: pointer;
  }
}
main {
  width: 1300px;
  margin: 0 auto;
  background: white;
  .date {
    font-size: 1.2rem;
    color: rgb(48, 46, 46);
    position: relative;
    &::before {
      content: "";
      height: 2px;
      width: 350px;
      background: rgba(180, 180, 180, 0.384);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transform: translateX(-120%);
    }
    &::after {
      content: "";
      height: 2px;
      width: 350px;
      background: rgba(180, 180, 180, 0.384);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transform: translateX(20%);
    }
  }
}
h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 10px;
  padding: 10px;
  font-family: "Inter", sans-serif;
  font-size: 3rem;
}
.main-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 50px;
  .text-part {
    width: 60%;
    text-align: center;
    margin: 30px;
  }
  img {
    width: 80%;
  }
}
.main-bottom {
  display: flex;
  .bottom-left,
  .bottom-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    border-top: 1px solid rgba(128, 128, 128, 0.466);
    h3 {
      font-size: 1.5rem;
      font-family: "Inter", sans-serif;
      text-transform: uppercase;
      margin: 20px;
    }
    img {
      width: 100%;
    }
    p {
      text-align: justify;
      padding: 10px 0;
    }
  }
  .bottom-left {
    border-right: 1px solid rgba(128, 128, 128, 0.466);
  }

  .text-part {
    width: 80%;
    text-align: center;
    margin: 30px 20px;
    .date-bottom {
      font-size: 1.2rem;
      color: rgb(48, 46, 46);
    }
  }
}
footer {
  width: 1300px;
  margin: 30px auto;

  display: grid;
  grid-template-columns: 50% 50%;
  background: rgb(224, 224, 224);
  form {
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: rgb(97, 97, 97);
    width: 100%;
    padding: 80px 60px;
    input {
      background: none;
      border: 1px solid rgba(165, 165, 165, 0.63);
      border-radius: 5px;
      margin: 20px 0;
    }
    .name,
    .email,
    .textarea {
      display: flex;
      flex-direction: column;
      max-width: 100%;
    }
    .name {
      input {
        height: 45px;
      }
    }
    .email {
      input {
        height: 45px;
      }
    }
    textarea {
      resize: none;
      height: 200px;
      background: none;
      border: 1px solid rgba(165, 165, 165, 0.63);
      border-radius: 5px;
      margin: 20px 0;
    }
    #btn {
      grid-area: btn;
      width: 40%;
      margin: 10px 0;
      height: 45px;
      border-radius: 0;
      border: 2px solid grey;
      font-family: "Inter", sans-serif;
      font-size: 0.8rem;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      color: rgb(97, 97, 97);
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        background: grey;
        color: white;
      }
    }
  }
  .footer-right {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-left: 1px solid grey;
h3 {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: rgb(97, 97, 97);
  line-height: 2rem;
}
    div {
      display: grid;
      grid-template-columns: 30% 70%;
      align-items: center;
      height: 100%;
      border-bottom: 1px solid rgba(128, 128, 128, 0.466);;
      padding: 30px;

      ul {
        display: flex;
        justify-content: space-between;
        width: 70%;
       
      
      }
      

      li {
        font-size: 1.3rem;
        margin: 0 10px;
        padding: 10px;
        border: 1px solid grey;
        border-radius: 100%;
        min-width: 50px;
        text-align: center;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .adress {
      align-items: start;
    }
    .social {
      border-bottom: none;
    }
  }
}
